body,main {
    background-color: #25282a;
    color: white;
    scroll-behavior: smooth;
}
.slider {
    display: grid; 
    grid-template-columns: 75% 1fr 20px 20px 20px 20px;
    grid-template-rows: 90% 20px 20px 1fr;
    overflow: hidden;
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.images {
    grid-row: 1;
    grid-column: span 6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.first, .second, .third, .fourth {
    min-width: 100%;
}
.img-holder {
    margin: auto;
    background-color: black;
    width: 100%;
    border-radius: 15px;
    border: 0px solid transparent;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
img {
    margin: auto;
    height: 100%;
}
input[type="radio"] {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none;
    display: grid;
    place-content: center;
    margin-right: 0;
}
#switch1 {
    grid-row: 3;
    grid-column: 3;
}
#switch2 {
    grid-row: 3;
    grid-column: 4;
}
#switch3 {
    grid-row: 3;
    grid-column: 5;
}
#switch4 {
    grid-row: 3;
    grid-column: 6;
}
#switch1::before, #switch2::before, #switch3::before, #switch4::before {
    content: '';
    display: inline-block;
    border: 5px solid #71abff;
    border-radius: 50%;
}
#switch1:checked::before, #switch2:checked::before, #switch3:checked::before, #switch4:checked::before {
    width: 8px;
    height: 8px;
    border: 1px solid #71abff;
    border-radius: 50%;
}
#switch1:hover::before, #switch2:hover::before, #switch3:hover::before, #switch4:hover::before {
    border: 5px solid white;
    border-radius: 50%;
}
#switch1:checked:hover::before, #switch2:checked:hover::before, #switch3:checked:hover::before, #switch4:checked:hover::before {
    border: 1px solid white;
    border-radius: 50%;
}
.text {
    grid-row: 3/4;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.first-text, .second-text, .third-text, .fourth-text {
    min-width: 100%;
}
#switch2 ~ .images {
    animation: slide-next .5s;
}
@keyframes slide-next {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-80%);
    }
}