body,main {
    background-color: #25282a;
    color: white;
}
.slider {
    margin: auto 5% auto 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
    width: 90%;
}
.images {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
}
.first, .second, .third, .fourth {
    min-width: 100%;
}
.img-holder {
    margin: auto;
    background-color: black;
    width: 100%;
    border-radius: 15px;
    border: 0px solid transparent;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}
img {
    margin: auto;
    height: 100%;
}
.inputs {
    margin-right: 0;
    align-self: flex-end;
}
.text {
    margin-top: -45px;
    display: flex;
    flex-direction: row;
    width:70%;
    overflow: hidden;
    height: 30%;
}
.first-text, .second-text, .third-text, .fourth-text {
    min-width: 100%;
    min-height: 100%;
}